# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.py text
*.md text
*.r  text
*.R  text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.tif binary
*.gif binary

